    /*  */
    
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        border: 0;
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
    }
    
    ul,
    ol,
    li {
        list-style: none;
    }
    
    img {
        vertical-align: top;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: inherit;
        font-size: inherit;
    }
    
    html,
    body {
        height: 100%;
        line-height: 1;
        font-size: 16px;
        color: #000;
        font-family: Montserrat;
    }
    /*  */
    
    .wrapper {
        min-height: 100%;
        overflow: hidden;
    }
    
    .container {
        max-width: 1218px;
        padding: 0px 15px 0px 15px;
        margin: 0px auto;
        box-sizing: content-box;
    }
    /*  */
    
    .header {
        background-image: url(../img/cover.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    
    .header-container {
        display: flex;
        min-height: 170px;
        align-items: center;
    }
    
    .menu {
        margin: 0px 0px 0px 94px;
    }
    
    .menu-list {
        display: flex;
    }
    
    .menu-item:not(:last-child) {
        margin: 0px 31px 0px 0px;
    }
    
    .menu-link {
        font-weight: normal;
        line-height: 170%;
        color: #FFFFFF
    }
    
    .call {
        display: flex;
        margin-left: auto;
    }
    
    .number {
        font-weight: bold;
        font-size: 26px;
        line-height: 140%;
    }
    
    .number a {
        color: #FFFFFF;
    }
    
    .number-call {
        flex-direction: column;
    }
    
    .calls {
        flex-direction: row;
    }
    
    .back-call {
        font-weight: normal;
        font-size: 14px;
        line-height: 200%;
        text-decoration-line: underline;
    }
    
    .back-call a {
        color: #FFCA33;
    }
    
    .whatsapp-call {
        margin: 0px 0px 0px 12px;
    }
    
    .viber-call {
        margin: 0px 0px 0px 15px;
    }
    /*  */
    
    .main {
        flex: 1 1 auto;
    }
    
    .get-price-container {
        display: flex;
        justify-content: space-between;
    }
    
    .get-price-title {
        padding: 30px 0px 0px 0px;
        max-width: 658px;
    }
    
    .first-block {
        flex-direction: column;
    }
    
    .get-price-title h1 {
        font-weight: bold;
        font-size: 50px;
        line-height: 120%;
        color: #FFFFFF;
    }
    
    .get-price-title span,
    .get-price-text span {
        color: #FFCA33;
    }
    
    .get-price-label {
        padding: 20px 0px 0px 0px;
    }
    
    .label {
        padding: 40px 0px 0px 0px;
        display: flex;
    }
    
    .get-price-text {
        padding: 0px 0px 0px 27px;
    }
    
    .gpt1 {
        max-width: 268px;
    }
    
    .gpt2 {
        max-width: 311px;
    }
    
    .get-price-text h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: #EEEEEE;
    }
    
    .get-price-form {
        display: flex;
    }
    
    .get-price-form form {
        width: 416px;
        height: 575px;
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        box-shadow: 5px 10px 15px 5px rgba(120, 120, 120, 0.1);
        border-radius: 10px;
        margin-bottom: 117px;
    }
    
    .get-price-form h3 {
        padding: 48px 0px 0px 30px;
        font-weight: bold;
        font-size: 25px;
        line-height: 140%;
        color: #333333;
        max-width: 300px;
    }
    
    .get-price-form h4 {
        padding: 10px 0px 4px 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 170%;
        color: #4F4F4F;
        max-width: 300px;
    }
    
    .get-price-form span {
        color: red;
    }
    
    .inputname,
    .inputphone,
    .inputmail {
        margin-left: 30px;
        margin-top: 20px;
        width: 356px;
        height: 60px;
        background: #F6F6F6;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        border-radius: 5px;
        font-weight: 400;
        font-size: 14px;
        color: #828282;
        padding: 16px 0px 20px 16px;
        font-family: Montserrat;
    }
    
    .get-price-btn {
        margin: 20px 30px 49px 30px;
        max-width: 356px;
        max-height: 80px;
        background: #F6F6F6;
        border-radius: 5px;
        border: 1px solid #333333;
        padding: 30px 48px 30px 48px;
        font-weight: bold;
        font-size: 16px;
        line-height: 125%;
        text-transform: uppercase;
        color: #383838;
        font-family: Montserrat;
    }
    
    .get-price-btn:active {
        border: none;
        background: #FFCA33;
    }
    
    .good-offers-title {
        padding: 60px 0px 50px 0px;
    }
    
    .good-offers-title h2 {
        font-weight: bold;
        font-size: 32px;
        line-height: 140%;
        text-align: center;
        color: #333333;
    }
    
    .good-offers-container {
        display: flex;
        justify-content: space-between;
        padding: 0px 0px 100px 0px;
    }
    
    .good-offers-item {
        border: 1px solid #F2F2F2;
        max-width: 386px;
        max-height: 636px;
    }
    
    .good-offers-img img {
        width: 386px;
        height: 302px
    }
    
    .good-offers-content h3 {
        padding: 20px 0px 0px 16px;
        font-weight: bold;
        font-size: 18px;
        line-height: 160%;
        color: #333333;
    }
    
    .good-offers-content h4 {
        padding: 11px 0px 0px 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #333333;
    }
    
    .good-offers-content h5 {
        padding: 20px 0px 0px 16px;
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        color: #828282;
    }
    
    .good-offers-content ul {
        padding: 10px 0px 0px 0px;
    }
    
    .good-offers-content li {
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 40px;
        list-style-type: disc;
        content: "\2B24";
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        color: #828282;
    }
    
    .good-offers-btn button {
        border: 1px solid #333333;
        margin: 30px 28px 28px 16px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 13px 61px;
        max-width: 342px;
        max-height: 50px;
        font-weight: bold;
        font-size: 14px;
        line-height: 170%;
        text-transform: uppercase;
        color: #333333;
        background: none;
        white-space: nowrap;
        font-family: Montserrat;
    }
    
    .good-offers-btn button:active {
        border: none;
        background: #FFCA33;
    }
    
    .banner-container {
        background-image: url(../img/banner.png);
        height: 218px;
        background-position: center;
        border-radius: 10px;
    }
    
    .banner-title h3 {
        padding: 47px 0px 31px 0px;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
    }
    
    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 15px;
    }
    
    .social-network {
        width: 180px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: white;
        border-radius: 10px;
    }
    
    .social-network:not(:last-child) {
        margin: 0px 20px 0px 0px;
    }
    
    .sn-img {
        display: flex;
        align-items: center;
    }
    
    .sn-text {
        padding: 0px 0px 0px 14px;
        align-items: center;
        display: flex;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
    
    .social-network h4 {
        color: #29B6F6;
    }
    
    .social-network h5 {
        color: #48C95F;
    }
    
    .social-network h6 {
        color: #7360F2;
    }
    
    .social-network:active {
        opacity: 0.6;
    }
    
    .advantages-container {
        padding: 100px 0px 0px 0px;
    }
    
    .advantages-title {
        display: flex;
        font-weight: bold;
        font-size: 32px;
        line-height: 140%;
        text-align: center;
        color: #333333;
        max-width: 800px;
        margin: auto;
    }
    
    .set-of-advantages {
        padding: 20px 0px 100px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .advantage {
        margin: 30px 0px 0px 0px;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        border-radius: 5px;
        max-width: 386px;
        height: 240px;
        display: flex;
        flex-direction: column;
    }
    
    .advantage-image {
        padding: 20px 0px 0px 22px;
    }
    
    .advantage-title {
        padding: 10px 0px 0px 22px;
        max-width: 301px;
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
        color: #333333;
    }
    
    .advantage-text {
        margin: auto 22px 24px;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: #4F4F4F;
        max-width: 340px;
    }
    
    .conditions {
        background: #F6F6F6;
    }
    
    .conditions-title {
        padding: 86px 0px 0px 0px;
        font-weight: bold;
        font-size: 32px;
        line-height: 140%;
        text-align: center;
        color: #333333;
        max-width: 930px;
        margin: auto;
    }
    
    .condtions-container {
        padding: 51px 0px 100px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .conditions-item {
        width: 386px;
        height: 570px;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }
    
    .conditions-img {
        max-width: 384px;
        height: 224px;
    }
    
    .call-ico {
        margin: -40px 0px 0px 22px;
    }
    
    .conditions-subtitle {
        padding: 36px 0px 0px 22px;
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
        color: #333333;
    }
    
    .conditions-text {
        padding: 20px 0px 0px 22px;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: #4F4F4F;
        max-width: 342px;
    }
    
    .conditions-btn {
        margin: auto 22px 31px 22px;
    }
    
    .conditions-content {
        height: 346px;
        width: 386px;
        display: flex;
        flex-direction: column;
    }
    
    .conditions-btn button {
        width: 342px;
        height: 50px;
        flex-wrap: nowrap;
        font-weight: bold;
        font-size: 14px;
        line-height: 170%;
        font-family: Montserrat;
        color: #333333;
        border: 1px solid #333333;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 13px 55px;
        background: none;
        border-radius: 5px;
    }
    
    .form-banner {
        background-image: url(../img/form-banner-cover.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .form-banner-container {
        padding: 90px 0px;
    }
    
    .conditions-btn button:active {
        border: none;
        background: #FFCA33;
    }
    
    .form-banner form {
        height: 370px;
        background-color: white;
        display: flex;
        box-sizing: border-box;
        box-shadow: 5px 10px 15px 5px rgba(120, 120, 120, 0.1);
        border-radius: 10px;
        flex-direction: column;
        background-image: url(../img/form-banner-bag.png);
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: 105%;
        background-position-y: 135%;
    }
    
    .form-banner h2 {
        padding: 42px 0px 0px 0px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 32px;
        line-height: 170%;
        color: #333333;
    }
    
    .form-banner h3 {
        margin: 0px;
        font-weight: 500;
        font-size: 20px;
        line-height: 170%;
        text-align: center;
        color: #333333;
    }
    
    .form-banner span {
        color: red;
    }
    
    .form-banner-inputs {
        padding: 30px 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .form-banner input {
        width: 330px;
        height: 60px;
        background: #F6F6F6;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        padding: 16px 150px 20px 16px;
        font-family: Montserrat;
    }
    
    .form-banner-btn {
        display: flex;
        justify-content: center;
    }
    
    .form-banner-btn button {
        width: 356px;
        height: 80px;
        font-family: Montserrat;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 30px 40px;
        font-weight: bold;
        font-size: 16px;
        line-height: 125%;
        color: #333333;
        border: 1px solid #333333;
        text-transform: uppercase;
        border-radius: 5px;
        background: none;
    }
    
    .form-banner-btn button:active {
        border: none;
        background: #FFCA33;
    }
    
    .most-adventages-title {
        display: flex;
        justify-content: center;
        padding: 100px 0px 50px;
        font-weight: bold;
        font-size: 32px;
        line-height: 140%;
        color: #333333;
    }
    
    .most-adventages-container {
        display: flex;
        flex-direction: row;
        padding: 0px 0px 100px 0px;
        justify-content: space-between;
    }
    
    .most-adventages-item {
        width: 386px;
        height: 329px;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        border-radius: 5px;
    }
    
    .most-adventages-item img {
        padding: 20px 0px 20px 22px;
    }
    
    .most-adventages-item h3 {
        padding: 0px 0px 20px 22px;
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
        color: #333333;
        max-width: 335px;
    }
    
    .most-adventages-item h4 {
        padding: auto;
        margin: 0px 0px 27px 22px;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: #4F4F4F;
        max-width: 330px;
    }
    
    .top-bags-title {
        padding: 0px 0px 2 0px 0px;
        font-weight: bold;
        font-size: 32px;
        line-height: 140%;
        text-align: center;
        color: #333333;
    }
    
    .top-bags-container {
        padding: 0px 0px 100px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .top-bags-item {
        margin: 30px 0px 0px 0px;
        width: 282px;
        height: 405px;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 5px 10px 15px 5px rgba(120, 120, 120, 0.1);
    }
    
    .top-bags-image {
        padding: 18px 20px 0px;
    }
    
    .top-bags-item-content h3 {
        padding: 9px 0px 6px 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 160%;
        color: #4F4F4F;
    }
    
    .top-bags-item-content h4 {
        padding: 0px 30px 0px 20px;
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        color: #828282;
    }
    
    .top-bags-item-content span {
        color: #333333;
    }
    
    .assortment-title {
        padding: 100px 0px 50px 00px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 32px;
        line-height: 140%;
        color: #333333;
    }
    
    .assortment-container {
        padding: 0px 0px 100px 00px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .assortment-img {
        padding: 0px 0px 30px 0px;
    }
    
    .assortment-button {
        padding: 20px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    
    .assortment-button button {
        width: 653px;
        height: 50px;
        font-weight: bold;
        font-size: 14px;
        line-height: 170%;
        text-transform: uppercase;
        text-align: center;
        padding-top: 7px;
        color: #333333;
        background: none;
        border: 1px solid #333333;
        border-radius: 5px;
    }
    
    .assortment-button button:active {
        border: none;
        background: #FFCA33;
    }
    
    .assortment-button img {
        margin-top: -5px;
        margin-left: 10px;
    }
    
    .footer {
        background: #252527;
    }
    
    .footer-row-container {
        border-bottom: 1px solid #828282;
    }
    
    .footer-row {
        display: flex;
        justify-content: space-between;
    }
    
    .footer-logo {
        padding: 15px 0px;
    }
    
    .footer-text {
        max-width: 560px;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        color: #828282;
        padding: 40px 0px;
    }
    
    .footer-btn button {
        border: 1px solid #FFCA33;
        box-sizing: border-box;
        border-radius: 5px;
        background: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 143%;
        text-transform: uppercase;
        color: #FFCA33;
        padding: 30px 60.5px;
        margin: 25px 0px;
    }
    
    .footer-btn button:active {
        background-color: #FFCA33;
        color: black;
    }
    
    .footer-content {
        padding: 50px 0px 40px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .footer-item {
        width: 250px;
        height: 85px;
        margin: 0px 0px 30px 0px;
    }
    
    .footer-item h3 {
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: #828282;
    }
    
    .footer-item h4 {
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: #F4F4F4;
    }
    
    .footer-bottom-row {
        border-top: 1px solid #828282;
    }
    
    .footer-bottom-row-text {
        display: flex;
        justify-content: space-between;
    }
    
    .footer-bottom-row-text h3 {
        padding: 28px 0px;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: #828282;
    }
    
    .footer-bottom-row-text h4 {
        padding: 28px 0px;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: #828282;
    }
    
    @media (max-width: 1225px) {
        .menu {
            margin: 0px 0px 0px 70px;
        }
    }
    
    @media (max-width: 1200px) {
        .set-of-advantages {
            padding: 10px 0px 60px 0px;
        }
        .advantage {
            margin: 20px 0px 0px 0px;
            max-width: 354px;
            height: 262px;
        }
        #top-bags-item-4 {
            display: none;
        }
        .top-bags-title {
            padding: 0px 0px 30px 0px;
        }
        .top-bags-container {
            padding: 40px 0px 100px 0px;
            display: flex;
            flex-direction: row;
        }
        .top-bags-item {
            margin: 30px 0px 0px 0px;
            width: 370px;
            height: 455px;
        }
        .top-bags-image {
            padding: 18px 20px 0px;
        }
        .top-bags-image {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .top-bags-item-content {
            display: flex;
            flex-direction: column;
            align-items: left;
            text-align: left;
            margin-left: 25%;
        }
        .assortment-img img {
            width: 262px;
            height: 266px;
        }
    }
    
    @media (max-width: 1220px) {
        .menu {
            margin: 0px 0px 0px 50px;
        }
        .good-offers-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 0px 100px 0px;
        }
        .good-offers-item {
            display: flex;
            flex-direction: row;
            max-width: 727px;
            max-height: 330px;
            margin: 0px 0px 30px 0px;
        }
        .good-offers-img img {
            max-width: 352px;
            max-height: 330px
        }
        .condtions-container {
            padding: 11px 0px 100px 0px;
            flex-direction: column;
            align-items: center;
        }
        .conditions-item {
            margin: 30px 0px 0px 0px;
            display: flex;
            width: 728px;
            height: 328px;
            flex-direction: row;
        }
        .cond-img {
            display: none;
        }
        .conditions-img {
            width: 352px;
            height: 328px;
        }
        #cond-img1 {
            background-image: url(../img/conditions-item1-1.png);
        }
        #cond-img2 {
            background-image: url(../img/conditions-item2-1.png);
        }
        #cond-img3 {
            background-image: url(../img/conditions-item3-1.png);
        }
        .conditions-content {
            width: 356px;
        }
        .call-ico {
            margin: 15px 20px 253px 273px;
        }
        .most-adventages-title {
            padding: 60px 0px 10px;
        }
        .most-adventages-container {
            display: flex;
            flex-direction: column;
            padding: 0px 0px 60px 0px;
            justify-content: center;
            align-items: center;
        }
        .most-adventages-item {
            margin: 30px 0px 0px 0px;
            width: 727px;
            height: 240px;
        }
        .most-adventages-item h3 {
            padding: 0px 0px 20px 22px;
            max-width: 100%;
        }
        .most-adventages-item h4 {
            padding: auto;
            margin: 0px 0px 29px 22px;
            max-width: 686px;
        }
    }
    
    @media (max-width: 1170px) {
        .menu {
            margin: 0px 0px 0px 30px;
        }
        .form-banner input {
            width: 300px;
            padding: 16px 130px 20px 16px;
        }
        .top-bags-item {
            width: 330px;
            height: 425px;
        }
    }
    
    @media (max-width: 1110px) {
        .advantage {
            margin: 20px 0px 0px 0px;
            max-width: 334px;
            height: 262px;
        }
    }
    
    @media (max-width: 1100px) {
        .menu {
            display: none;
        }
        .get-price-title {
            padding: 55px 0px 0px 0px;
            max-width: 600px;
        }
        .get-price-title h1 {
            font-size: 45px;
        }
        .get-price-label {
            padding: 0;
        }
        .label {
            padding: 30px 0px 0px 0px;
        }
        .get-price-text h3 {
            font-size: 16px;
        }
        .get-price-text {
            padding-top: 5px;
        }
        .gpt1 {
            max-width: 240px;
        }
        .gpt2 {
            max-width: 276px;
        }
        .get-price-container {
            display: flex;
            justify-content: start;
            flex-direction: column;
        }
        .get-price-form {
            padding: 42px 0px 0px 0px;
            display: flex;
            justify-content: center;
        }
        .get-price-form form {
            width: 850px;
            height: 315px;
            margin-bottom: 117px;
        }
        .get-price-form h3 {
            padding: 32px 0px 0px 0px;
            max-width: 100%;
            text-align: center;
        }
        .get-price-form h4 {
            padding: 10px 0px 0px 0px;
            max-width: 100%;
            text-align: center;
        }
        .inputname,
        .inputphone,
        .inputmail {
            max-width: 250px;
            padding: 18px 0px 18px 20px;
            margin-left: 22px;
        }
        .get-price-btn {
            max-width: 333px;
            margin-left: 255px;
        }
        .assortment-title {
            padding: 60px 0px 50px 00px;
        }
        #assortment-img-4 {
            display: none;
        }
        .assortment-img img {
            width: 322px;
            height: 326px;
        }
    }
    
    @media (max-width: 1050px) {
        .advantage {
            max-width: 300px;
            height: 262px;
        }
        .form-banner input {
            width: 250px;
            padding: 16px 80px 20px 16px;
        }
        .top-bags-item {
            width: 300px;
            height: 395px;
        }
        .assortment-img img {
            width: 302px;
            height: 306px;
        }
        .footer-btn {
            display: none;
        }
        .footer-row {
            justify-content: start;
        }
        .footer-text {
            padding-left: 10%;
        }
        .footer-item {
            width: 230px;
            height: 85px;
            margin: 0px 0px 30px 0px;
        }
    }
    
    @media (max-width: 990px) {
        .assortment-img img {
            width: 282px;
            height: 286px;
        }
        .assortment-img {
            padding: 0px 0px 20px 0px;
        }
    }
    
    @media (max-width: 950px) {
        .advantage {
            max-width: 280px;
            height: 262px;
        }
        .form-banner input {
            width: 230px;
            padding: 16px 60px 20px 16px;
        }
        .form-banner form {
            background-position-x: 100%;
            background-position-y: 100%;
            background-size: 30%;
        }
        .top-bags-title {
            max-width: 500px;
            display: flex;
            margin: auto;
        }
        .top-bags-item {
            width: 430px;
            height: 430px;
        }
        .footer-content {
            padding: 50px 0px 40px 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
        }
        .footer-item {
            margin: 0px auto 30px auto;
        }
    }
    
    @media (max-width: 910px) {
        .top-bags-item {
            width: 400px;
            height: 400px;
        }
        .assortment-img img {
            width: 262px;
            height: 266px;
        }
        .assortment-img {
            padding: 0px 0px 20px 0px;
        }
    }
    
    @media (max-width: 880px) {
        .get-price-form form {
            width: 700px;
        }
        .inputname,
        .inputphone,
        .inputmail {
            max-width: 210px;
            margin-left: 15px;
        }
        .get-price-btn {
            margin-left: 180px;
        }
        .good-offers-title {
            padding: 60px 0px 40px 0px;
        }
        .advantage {
            max-width: 404px;
            height: 262px;
        }
        .form-banner input {
            width: 210px;
            padding: 16px 40px 20px 16px;
        }
    }
    
    @media (max-width: 850px) {
        .top-bags-item {
            width: 340px;
            height: 400px;
        }
        .assortment-img img {
            width: 252px;
            height: 256px;
        }
    }
    
    @media (max-width: 820px) {
        .assortment-img img {
            width: 242px;
            height: 246px;
        }
    }
    
    @media (max-width: 810px) {
        .set-of-advantages {
            flex-direction: column;
            align-items: center;
        }
        .advantage {
            max-width: 500px;
            height: 262px;
        }
        .form-banner h2 {
            padding: 32px 0px 0px 0px;
            font-size: 25px;
            line-height: 140%;
            color: #333333;
        }
        .form-banner h3 {
            font-size: 16px;
            line-height: 170%;
        }
        .form-banner form {
            height: 315px;
        }
        .form-banner input {
            width: 190px;
            padding: 16px 20px 20px 16px;
        }
    }
    
    @media (max-width: 800px) {
        .assortment-img img {
            width: 232px;
            height: 236px;
        }
    }
    
    @media (max-width: 770px) {
        .footer-content {
            padding: 50px 0px 40px 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
        }
        .footer-text {
            padding-left: 20px;
        }
        .footer-item {
            margin: 0px 100px 30px 0px;
        }
    }
    
    @media (max-width: 750px) {
        .most-adventages-container {
            display: flex;
            flex-direction: column;
            padding: 0px 0px 60px 0px;
            justify-content: center;
            align-items: center;
        }
        .most-adventages-item {
            width: 386px;
            height: 329px;
        }
        .most-adventages-item h3 {
            padding: 0px 0px 20px 22px;
            max-width: 335px;
        }
        .most-adventages-item h4 {
            padding: auto;
            margin: 0px 0px 27px 22px;
            max-width: 330px;
        }
        .top-bags-title {
            padding: 0px 0px 2 0px 0px;
        }
        .top-bags-container {
            padding: 0px 0px 100px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .top-bags-container h3 {
            font-size: 22px;
        }
        .top-bags-container h4 {
            font-size: 20px;
        }
        .top-bags-item {
            margin: 30px 0px 0px 0px;
            width: 600px;
            height: 270px;
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;
        }
        .top-bags-image {
            padding: 0px 20px 0px;
        }
        .top-bags-item-content {
            display: flex;
            flex-direction: column;
            align-items: left;
            margin: 45px 0px 0px 0px;
        }
        #assortment-img-3 {
            display: none;
        }
        .assortment-img img {
            width: 332px;
            height: 336px;
        }
        .assortment-img {
            padding: 0px 0px 35px 0px;
        }
    }
    
    @media (max-width: 735px) {
        .get-price-form form {
            width: 570px;
        }
        .inputname,
        .inputphone,
        .inputmail {
            max-width: 180px;
            margin-left: 5px;
        }
        .get-price-btn {
            margin-left: 113px;
        }
        .good-offers-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 0px 100px 0px;
        }
        .good-offers-item {
            display: flex;
            flex-direction: column;
            margin: 0px 0px 20px 0px;
            max-width: 352px;
            max-height: 670px;
        }
        .good-offers-img img {
            max-width: 352px;
            max-height: 330px
        }
        .good-offers-btn button {
            padding: 13px 46px;
        }
        .condtions-container {
            padding: 0px 0px 100px 0px;
            flex-direction: column;
            align-items: center;
        }
        .conditions-item {
            margin: 30px 0px 0px 0px;
            display: flex;
            width: 728px;
            height: 328px;
            flex-direction: row;
        }
        .conditions-img {
            width: 320px;
            height: 265px;
        }
        .conditions-content {
            width: 295px;
        }
        .conditions-title {
            padding: 50px 0px 0px 0px;
            font-size: 20px;
            line-height: 140%;
            text-align: center;
            max-width: 320px;
            margin: auto;
        }
        .condtions-container {
            padding: 51px 0px 100px 0px;
            display: flex;
            flex-direction: column;
        }
        .conditions-item {
            width: 320px;
            height: 604px;
            display: flex;
            flex-direction: column;
        }
        .call-ico {
            margin: 217px 0px 0px 17px;
        }
        .conditions-subtitle {
            padding: 20px 0px 0px 17px;
            font-weight: bold;
            font-size: 18px;
            line-height: 140%;
            color: #333333;
        }
        .conditions-text {
            padding: 20px 0px 0px 17px;
            max-width: 342px;
        }
        .conditions-btn {
            margin: auto 22px 31px 17px;
        }
        .conditions-btn button {
            width: 286px;
            padding: 13px 30px;
        }
        .form-banner input {
            width: 175px;
            padding: 16px 5px 20px 16px;
        }
        .assortment-img img {
            width: 322px;
            height: 326px;
        }
        .assortment-img {
            padding: 0px 0px 30px 0px;
        }
    }
    
    @media (max-width: 705px) {
        .assortment-img img {
            width: 312px;
            height: 316px;
        }
        .assortment-img {
            padding: 0px 0px 30px 0px;
        }
        .footer-item {
            margin: 0px 80px 30px 0px;
        }
    }
    
    @media (max-width: 688px) {
        .assortment-title h2 {
            max-width: 370px;
            text-align: center;
        }
        .assortment-img img {
            width: 302px;
            height: 306px;
        }
        .assortment-img {
            padding: 0px 0px 30px 0px;
        }
        .assortment-button button {
            width: 500px;
            height: 64px;
            padding-left: 70px;
            padding-right: 150px;
            padding-bottom: 20px;
            text-align: left;
        }
        .assortment-button img {
            display: flex;
            padding: 0px;
            margin-top: -40px;
            margin-left: 280px;
            flex-direction: row;
        }
    }
    
    @media (max-width: 675px) {
        .form-banner h2 {
            padding: 32px 18px 0px;
            font-size: 20px;
            line-height: 140%;
            max-width: 250px;
        }
        .form-banner h3 {
            padding: 10px 0px 0px 0px;
            font-size: 14px;
            line-height: 170%;
            max-width: 250px;
        }
        .form-banner form {
            width: 320px;
            height: 475px;
            background-size: 48%;
            background-position-x: 115%;
            background-position-y: 105%;
        }
        .form-banner input {
            width: 285px;
            margin: 10px 18px 0px;
        }
        .form-banner-inputs {
            padding: 10px 0px 0px 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .form-banner-btn button {
            margin: 10px 0px 0px 0px;
            width: 285px;
            height: 68px;
            font-family: Montserrat;
            padding: 24px 27px;
            font-size: 14px;
            line-height: 143%;
            color: #333333;
        }
        .form-banner-container {
            display: flex;
            justify-content: center;
            padding-top: 40px;
        }
        .form-banner {
            background-size: cover;
            height: 555px;
        }
        .top-bags-item {
            margin: 30px 0px 0px 0px;
            width: 550px;
            height: 270px;
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;
        }
        .assortment-img img {
            width: 292px;
            height: 296px;
        }
        .assortment-img {
            padding: 0px 0px 30px 0px;
        }
        .footer-content {
            padding: 50px 0px 40px 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .footer-item {
            margin: 0px 0px 30px 0px;
        }
        .footer-bottom-row-text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .footer-bottom-row-text h3 {
            display: flex;
        }
        .footer-bottom-row-text h4 {
            display: flex;
            padding: 0px;
            margin-top: -15px;
        }
    }
    
    @media (max-width: 645px) {
        .assortment-img img {
            width: 282px;
            height: 286px;
        }
        .assortment-img {
            padding: 0px 0px 30px 0px;
        }
    }
    
    @media (max-width: 620px) {
        .assortment-img img {
            width: 272px;
            height: 276px;
        }
        .assortment-img {
            padding: 0px 0px 30px 0px;
        }
    }
    
    @media (max-width: 600px) {
        .get-price-form form {
            width: 570px;
            height: 475px;
        }
        .inputname,
        .inputphone,
        .inputmail {
            max-width: 333px;
            margin-left: 100px;
            justify-content: center;
        }
        .get-price-btn {
            margin-left: 100px;
        }
        .advantages-title {
            font-size: 26px;
        }
        .advantages-container {
            padding: 50px 0px 0px 0px;
        }
        .top-bags-item img {
            width: 200px;
            height: 240px;
        }
        .top-bags-item {
            margin: 30px 0px 0px 0px;
            width: 460px;
            height: 270px;
        }
        .top-bags-container h3 {
            font-size: 18px;
        }
        .top-bags-container h4 {
            font-size: 16px;
        }
        .assortment-img img {
            width: 262px;
            height: 266px;
        }
        .assortment-img {
            padding: 0px 0px 26px 0px;
        }
    }
    
    @media (max-width: 580px) {
        .assortment-img img {
            width: 252px;
            height: 256px;
        }
        .assortment-img {
            padding: 0px 0px 26px 0px;
        }
    }
    
    @media (max-width: 560px) {
        .assortment-img img {
            width: 252px;
            height: 256px;
        }
        .assortment-img {
            padding: 0px 0px 24px 0px;
        }
    }
    
    @media (max-width: 540px) {
        .header-container {
            flex-direction: column;
        }
        .call {
            padding-top: 10px;
            display: flex;
            margin: auto;
            justify-content: center;
        }
        .number a {
            font-size: 20px;
        }
        .get-price-title {
            padding: 55px 0px 0px 0px;
            max-width: 600px;
        }
        .get-price-title h1 {
            font-size: 30px;
            line-height: 120%;
        }
        .get-price-label {
            padding: 0;
        }
        .label {
            padding: 30px 0px 0px 0px;
        }
        .get-price-text h3 {
            font-size: 16px;
        }
        .get-price-text {
            padding-top: 5px;
        }
        .gpt1 {
            max-width: 240px;
        }
        .gpt2 {
            max-width: 276px;
        }
        .get-price-form form {
            width: 320px;
            height: 475px;
            margin-bottom: 51px;
        }
        .get-price-form h3 {
            padding: 32px 17px 0px 18px;
            text-align: left;
            font-size: 20px;
            line-height: 140%;
            max-width: 230px;
        }
        .get-price-form h4 {
            padding: 10px 17px 0px 18px;
            font-size: 14px;
            line-height: 170%;
            text-align: left;
            max-width: 250px;
        }
        .inputname,
        .inputphone,
        .inputmail {
            max-width: 285px;
            padding: 18px 0px 18px 20px;
            margin: 10px 17px 0px 18px;
        }
        .get-price-btn {
            max-width: 285px;
            height: 68px;
            margin-left: 255px;
            margin: 10px 17px 31px 18px;
            padding: 24px 28.5px;
            font-size: 14px;
            line-height: 20px;
        }
        .most-adventages-title {
            padding: 50px 0px 0px 0px;
            font-size: 20px;
            line-height: 140%;
            text-align: center;
        }
        .most-adventages-container {
            display: flex;
            flex-direction: column;
            padding: 0px 0px 60px 0px;
            justify-content: center;
            align-items: center;
        }
        .most-adventages-item {
            width: 320px;
            height: 370px;
            margin: 20px 0px 0px 0px;
        }
        .most-adventages-item h3 {
            padding: 0px 0px 20px 22px;
            max-width: 286px;
        }
        .most-adventages-item h4 {
            padding: auto;
            margin: 0px 0px 30px 22px;
            max-width: 286px;
        }
        .top-bags-title {
            font-size: 24px;
            line-height: 140%;
            max-width: 350px;
        }
        .top-bags-item img {
            width: 160px;
            height: 160px;
        }
        .top-bags-item {
            margin: 30px 0px 0px 0px;
            width: 400px;
            height: 270px;
        }
        .top-bags-container h3 {
            font-size: 16px;
        }
        .top-bags-container h4 {
            font-size: 14px;
        }
        .assortment-img img {
            width: 242px;
            height: 246px;
        }
        .assortment-img {
            padding: 0px 0px 22px 0px;
        }
    }
    
    @media (max-width: 535px) {
        .assortment-img img {
            width: 238px;
            height: 242px;
        }
        .assortment-img {
            padding: 0px 0px 20px 0px;
        }
    }
    
    @media (max-width: 525px) {
        .assortment-img img {
            width: 228px;
            height: 232px;
        }
        .assortment-img {
            padding: 0px 0px 18px 0px;
        }
        .assortment-button button {
            width: 360px;
            padding: 5px 15px 10px 15px;
            height: 74px;
            font-size: 14px;
        }
        .assortment-button img {
            margin: 0px;
            padding: 0px;
            margin-left: 280px;
            margin-top: -40px;
        }
    }
    
    @media (max-width: 505px) {
        .sn-text {
            display: none;
        }
        .advantages-title {
            font-size: 20px;
        }
        .advantage {
            max-width: 320px;
            height: 262px;
        }
        .assortment-title {
            font-size: 24px;
        }
        .assortment-img img {
            width: 220px;
            height: 224px;
        }
        .assortment-img {
            padding: 0px 0px 18px 0px;
        }
        .footer-row {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    
    @media (max-width: 485px) {
        .assortment-img img {
            width: 215px;
            height: 219px;
        }
        .assortment-img {
            padding: 0px 0px 18px 0px;
        }
    }
    
    @media (max-width: 475px) {
        .assortment-img img {
            width: 205px;
            height: 209px;
        }
        .assortment-img {
            padding: 0px 0px 17px 0px;
        }
    }
    
    @media (max-width: 455px) {
        .assortment-img img {
            width: 195px;
            height: 199px;
        }
        .assortment-img {
            padding: 0px 0px 16px 0px;
        }
    }
    
    @media (max-width: 430px) {
        .good-offers-title h2 {
            font-size: 20px;
        }
        .top-bags-title {
            font-size: 20px;
            max-width: 200px;
        }
        .top-bags-item img {
            width: 100px;
            height: 122px;
            padding: 0px;
            margin: 0px;
        }
        .top-bags-item {
            margin: 30px 0px 0px 0px;
            width: 320px;
            height: 180px;
        }
        .top-bags-container h3 {
            font-size: 14px;
        }
        .top-bags-container h4 {
            font-size: 12px;
        }
        .top-bags-item-content {
            padding: 0px 15px 30px 0px;
        }
        .assortment-img img {
            width: 185px;
            height: 189px;
        }
        .assortment-img {
            padding: 0px 0px 15px 0px;
        }
        .footer-bottom-row-text {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    
    @media (max-width: 410px) {
        .assortment-img img {
            width: 175px;
            height: 189px;
        }
        .assortment-img {
            padding: 0px 0px 15px 0px;
        }
    }
    
    @media (max-width: 390px) {
        .assortment-img img {
            width: 165px;
            height: 179px;
        }
        .assortment-img {
            padding: 0px 0px 14px 0px;
        }
        .assortment-button button {
            font-size: 12px;
            width: 320px;
            padding-right: 20px;
        }
        .assortment-button img {
            margin-left: 245px;
        }
    }
    
    @media (max-width: 375px) {
        .good-offers-item {
            max-width: 320px;
            max-height: 680px;
        }
        .good-offers-img img {
            width: 320px;
            height: 594px;
        }
        .good-offers-btn button {
            margin: 30px 23px 28px 23px;
            padding: 13px 33px;
        }
        .assortment-img img {
            width: 160px;
            height: 174px;
        }
        .assortment-img {
            padding: 0px 0px 12px 0px;
        }
    }
    
    @media (max-width: 359px) {
        .assortment-img img {
            width: 150px;
            height: 164px;
        }
        .assortment-img {
            padding: 0px 0px 11px 0px;
        }
    }
    
    @media (max-width: 345px) {
        .top-bags-item {
            margin: 30px 0px 0px 0px;
            width: 290px;
            height: 160px;
        }
        .top-bags-item img {
            width: 90px;
            height: 112px;
            padding: 0px;
            margin: 0px;
        }
        .assortment-img img {
            width: 147px;
            height: 151px;
        }
        .assortment-img {
            padding: 0px 0px 10px 0px;
        }
        .assortment-button button {
            font-size: 12px;
            width: 290px;
            padding-right: 20px;
        }
        .assortment-button img {
            margin-left: 235px;
            margin-top: -40px;
        }
    }
    
    @media (max-width: 335px) {
        .assortment-img img {
            width: 145px;
            height: 149px;
        }
        .assortment-img {
            padding: 0px 0px 11px 0px;
        }
    }
    
    @media (max-width: 330px) {
        .assortment-img img {
            width: 140px;
            height: 144px;
        }
        .assortment-img {
            padding: 0px 0px 10px 0px;
        }
    }